* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1268px;
    margin: auto;
}

.button {
    background-color: #aab6aa;
    border: 2px solid black;
    color: white;
    margin: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

a:visited,
a:link {
    color: black;
}

.blank {
    margin-top: 100px;
    float: left;
}

p {
    font-size: 20px;
}

.right {
    height: 240px;
    width: 50%;
    float: left;
}

.left {
    float: left;
    width: 50%;
}

.reprobar {
    margin-top: 20px;
}